@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {

    --font-Inter:"Inter",sans-serif;
    --color-primary:#3D3B40;
    --color-secondary:#525CEB;
    --color-tertiary:#BFCFE7;
    --color-quaternary:#F8EDFF;
    --color-white: #FFFFFF;
  
  }

  * {
    scroll-behavior: smooth;
  }

}

